@import "./reset.css";
@import "./date.css";
@import "./list.css";
@import "./filter.css";
@import "./roomlist.css";
@import "./header.css";

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

::selection {
    -webkit-user-select: none;
}

main {
    width: 1024px;
    margin: 0 auto;
    height : 120vh;
}
