.list_wrap {
  position: relative;
  float: left;
  width: 635px;
  margin-top: 40px;
}

.list_wrap .btn_wrap {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  border : 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.list_wrap .btn_wrap div {
  cursor: pointer;
  width : 100%;
}

.list_wrap .btn_wrap div:nth-child(2) {
  border-left : 1px solid rgba(0, 0, 0, 0.08);
  border-right : 1px solid rgba(0, 0, 0, 0.08);
}

.list_wrap span {
  display: block;
}

.top_sort {
  margin-bottom : 28px;
}

.list_wrap img {
  border-radius: 5px;
  width : 100%;
}