@import "reset.css";
@import "header.css";
@import "subTop.css";

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

html, body {
    overflow: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

::selection {
    -webkit-user-select: none;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 110px;
    margin: 0 10px;
}

.category__main-image {
    background: url("../images/main.jpg") 0 -120px no-repeat;
    background-size: cover;
    width: 1030px;
    height: 500px;
}

.category__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top : 10px;
    height: 100px;
}

.category__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 109px;
    height: 107px;
    cursor: pointer;
}

.category__list-item span {
    color: #6f6f6f;
    font-size: 18px;
}

.category__list-item .images {
    width: 72px;
    height: 72px;
    margin-bottom: 5px;
}

li:nth-child(1) .category__images {
    background: url("../images/KakaoTalk_20200724_173348477.png") -144px -72px;
    background-size: 216px auto;
}
/* background-size : 144px auto
144px은 가로크기 auto 세로크기 */

li:nth-child(2) .category__images {
    background: url("../images/KakaoTalk_20200724_173348477.png") -144px 0px;
    background-size: 216px auto;
}

