@import "reset.css";
@import "header.css";

* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

::selection {
    -webkit-user-select: none;
}

.container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 120px;
}

.room_reservation_item + .room_reservation_item {
    border-top: 1px solid #eee;
}

.room_item {
    display: flex;
    margin-bottom: 10px;
}

.room_info {
    margin-top: 15px;
}

.room_info .name {
    margin-bottom : 20px;
}

.img {
    width: 240px;
    height: 200px;
    border-radius: 1px;
    background-size: auto 250px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 25px;
}

.date li:first-child {
    margin-bottom: 20px;
}

.date li span {
    display: block;
}

.color {
    color: #f2074c;
}

button {
    border: none;
    background-color: #f2074c;
    color: white;
    border-radius: 2px;
}

.modifyDateBtn {
    margin-top: 42px;
    border: none;
    background-color: #f2074c;
    color: white;
    border-radius: 2px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4;
}

.modal__overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.22);
}

.modal__content {
    position: relative;
    padding: 40px;
    width: 300px;
    border-radius: 2px;
    text-align: center;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.datepicker {
    width: 100%;
    padding: 0.8em 1.5em 0 1.5em;
    font-size: 1.2em;
    border-width: 0;
}

.datepicker:focus {
    outline: none;
}

.btn_wrap {
    display: flex;
    justify-content: space-around;
    margin-top: 0.8em;
}

input[type=date]::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.hidden {
    display: none;
}
