.sub__top {
    padding: 115px 20px 0 20px;
    margin: 0 auto;
    height: 210px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    background-color: #f6323e;
}

.sub__top-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sub__top-title {
    margin-left: 110px;
}

.menu > ul {
    display: flex;
}

.menu > ul > li {
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    height: 60px;
    margin-left: 30px;
    z-index : 1;
}

.menu > ul > li > a {
    display: block;
    width: 200px;
}

.menu > ul > li:hover ul {
    display: block;
}

.menu ul ul {
    position: absolute;
    display: none;
    left: 0;
    top: 35px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    background-color: #4c4c4c;
    border-radius: 15px;
}

.menu-subItem li {
    font-size: 20px;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    line-height: 50px;
}
