<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"
    />
    <link rel="stylesheet" href="../css/motel.css" />
    <title>야!여기어때. || 모텔</title>
  </head>
  <body>
    <div class="header-wrapper">
      <header class="header">
        <div class="header__header-column">
          <a href="/"><h1 class="header__title">야!여기어때.</h1></a>
        </div>
        <div class="header__header-column">
          <span class="header__icon">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </span>
          <span class="header__icon">
            <i class="fa fa-check-square"></i>
          </span>
        </div>
      </header>
    </div>
    <div class="sub__top">
      <div class="sub__top-container">
        <div class="sub__top-title">모텔</div>
        <div class="wrapper">
          <nav class="menu">
            <ul>
              <li>
                <a href="">서울</a>
                <ul class="menu-subItem">
                  <li><a href="">서울 인기숙소</a></li>
                  <li><a href="">강남, 역삼, 삼성, 논현</a></li>
                  <li><a href="">서초, 방배</a></li>
                  <li><a href="">잠실, 신천</a></li>
                </ul>
              </li>
              <li>
                <a href="">경기</a>
                <ul class="menu-subItem">
                  <li><a href="">경기 인기숙소</a></li>
                  <li><a href="">파주, 김포</a></li>
                  <li><a href="">고양, 일산</a></li>
                  <li><a href="">의정부</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <main>
      <div class="filter_wrap">
        <section class="date_wrap">
          <input class="datepicker" type="date" />
          <input class="datepicker" type="date" />
        </section>
        <span>상세조건</span>
        <section class="btn_wrap">
          <div><span>초기화</span></div>
          <div><span>적용</span></div>
        </section>
        <section class="category1_wrap">
          <ul>
            <li>
              <input type="checkbox" id="reserve_0" value="대실 예약" />
              <label for="reserve_0" class="label_chk">대실 예약</label>
            </li>
            <li>
              <input type="checkbox" id="reserve_1" value="숙박 예약" />
              <label for="reserve_1" class="label_chk">숙박 예약</label>
            </li>
<!--            <li>-->
<!--              <input type="checkbox" id="earlybird_2" value="50%할인"/>-->
<!--              <label for="earlybird_2" class="label_chk">50%할인</label>-->
<!--            </li>-->
          </ul>
        </section>
        <span>이색테마</span>
        <section class="category2_wrap wrap">
          <ul>
            <li>
              <input type="checkbox" id="tmino_0" />
              <label for="tmino_0" class="label_chk">무인텔</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_2" />
              <label for="tmino_2" class="label_chk">거울룸</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_4" />
              <label for="tmino_4" class="label_chk">공주룸</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_6" />
              <label for="tmino_6" class="label_chk">야외테라스</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_8" />
              <label for="tmino_8" class="label_chk">호수뷰</label>
            </li>
          </ul>
          <ul>
            <li>
              <input type="checkbox" id="tmino_1" />
              <label for="tmino_1" class="label_chk">파티룸</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_3" />
              <label for="tmino_3" class="label_chk">복층룸</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_5" value="트윈베드" />
              <label for="tmino_5" class="label_chk">트윈베드</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_7" />
              <label for="tmino_7" class="label_chk">바다뷰</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_9" />
              <label for="tmino_9" class="label_chk">하늘뷰</label>
            </li>
          </ul>
        </section>
        <span>스파시설</span>
        <section class="category3_wrap wrap">
          <ul>
            <li>
              <input type="checkbox" id="tmino_10" />
              <label for="tmino_10" class="label_chk">스파/월풀</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_12" />
              <label for="tmino_12" class="label_chk">맛사지 베드</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_14" />
              <label for="tmino_14" class="label_chk">노천탕</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_16" />
              <label for="tmino_16" class="label_chk">욕실 TV</label>
            </li>
          </ul>
          <ul>
            <li>
              <input type="checkbox" id="tmino_11" />
              <label for="tmino_11" class="label_chk">사우나/찜질방</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_13" />
              <label for="tmino_13" class="label_chk">히노끼탕</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_15" />
              <label for="tmino_15" class="label_chk">반신욕</label>
            </li>
          </ul>
        </section>
        <span>놀이시설</span>
        <section class="category4_wrap wrap">
          <ul>
            <li>
              <input type="checkbox" id="tmino_17" />
              <label for="tmino_17" class="label_chk">수영장</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_19" />
              <label for="tmino_19" class="label_chk">당구대</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_21" />
              <label for="tmino_21" class="label_chk">안마의자</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_23" />
              <label for="tmino_23" class="label_chk">미니Bar</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_25" />
              <label for="tmino_25" class="label_chk">빔프로젝터</label>
            </li>
          </ul>
          <ul>
            <li>
              <input type="checkbox" id="tmino_18" />
              <label for="tmino_18" class="label_chk">노래방</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_20" />
              <label for="tmino_20" class="label_chk">게임기</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_22" />
              <label for="tmino_22" class="label_chk">커플 PC</label>
            </li>
            <li>
              <input type="checkbox" id="tmino_24" />
              <label for="tmino_24" class="label_chk">3D TV</label>
            </li>
          </ul>
        </section>
        <div>
          <span>가격</span>
          <span class="price_value">30000원 이상</span>
        </div>
        <section class="category5_wrap">
          <input type="range" class="range_input" min="30000" max="70000" step="10000" value="30000">
        </section>
      </div>
      <div class="list_wrap">
        <div class="top_sort">
          <div class="btn_wrap">
            <div>거리 순</div>
            <div class="btn_wrap-ascnd">낮은 가격 순</div>
            <div class="btn_wrap-dscnd">높은 가격 순</div>
          </div>
        </div>
        <div class="sort_list">
        </div>
      </div>
    </main>
  </body>
  <script src="../js/db.js"></script>
  <script src="../js/motel.js"></script>
</html>
