<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>야!여기어때? || 페이백</title>
  </head>
  <body>
    <div class="header-wrapper">
      <header class="header">
        <div class="header__header-column">
          <a href="index.html"> <h1 class="header__title">야!여기어때?</h1></a>
        </div>
        <div class="header__header-column">
          <span class="header__icon">
            <i class="fas fa-search"></i>
          </span>
          <span class="header__icon">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </span>
          <span class="header__icon">
            <i class="fa fa-check-square"></i>
          </span>
        </div>
      </header>
    </div>
  </body>
  <script src="client/js/payback.js"></script>
</html>
